.left_user {
    width: 208px;
    height: 100vh;
    background-color: #FFFFFF; /* Add a background color */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed; /* Sidebar stays in place */
}

.admin_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.admin_pfp {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ccc; /* Placeholder color for image */
}

.admin_profile p {
    margin-top: 10px;
    font-weight: bold;
}

.admin__buttons {
    padding-top: 25px;
    width: 100%;
}

.admin__buttons ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.admin__buttons li {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 30px;
    width: 183px;
    cursor: pointer;
}

.admin__buttons li:hover {
    background-color: #ddd;
    color: #A75DE9;
}
.admin_icons{
    padding-right: 10px;
}